source https://www.nuget.org/api/v2

framework: net40, net45
content: none
redirects: on
copy_local: true

nuget GitVersionTask
nuget Nancy
nuget Tavis.Problem
nuget xunit
nuget shouldly
nuget GitLink
nuget OpenCover